# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
cache: packages

r:
  - oldrel
  - release
  - devel

r_packages:
  - pkgdown
  - knitr
  - rmarkdown
  - covr

r_github_packages:
  - jimhester/lintr

os:
  - linux

matrix:
  allow_failures:
    - r: oldrel

repos:
  CRAN: https://cloud.r-project.org

warnings_are_errors: true

before_script:
 - sed -i'' '/\.covrignore/d' .Rbuildignore
 - sed -i'' '/\.lintr/d' .Rbuildignore

after_success:
  - Rscript -e 'covr::codecov()'
  - Rscript -e 'lintr::lint_package()'
  - Rscript -e 'pkgdown::build_site()'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master

notifications:
  email:
    on_success: change
    on_failure: change
